venv/
media/
temporario/
*.pyc
*.log
*.db
*.sqlite3
*.swp
*.swo
*.swn
*.swn
*.swo
*.swp
*.swn
log/
images/
old/
*.pyc
*.log
*.db
*.sqlite3
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.odg
*.odf
*.db
